/* Article */

.article{
  font-family: "Museo Sans" sans-serif;
}

.article .title{
  margin-bottom : 15px;
  font-size: 2em;
  text-align: center;
}

.article p{
  text-align: justify;
  text-justify: inter-word;
}
